@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.float:first-child{
  margin-right: 50px;
}

.float{
  width: 205px;
  float: left;
  font-size: 16px;
}



.table{
  display: table;
  table-layout: fixed;
}

.cell{
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
}
.table-text{
  font-size: 16px;
  width: 205px;
}

.cell:first-child{
  padding-left: 0px;
}



.inline{
  font-size: 0;
}

.inline .q7__box:first-child{
  margin-right: 50px;
}

.inline .q7__box{
  width: 205px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.flexbox{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flexbox .q7__box{
  width: 205px;
  font-size: 16px;
}

.lastbox{
  font-size: 0;
  width: 100px;
}

.lastbox .l-kotei{
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.lastbox .r-kahen{
  width: 100%;
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7__box__text{
  font-size: 16px;
}
/* 回答はここに書いてね */
