@charset "UTF-8";

/* 回答はここに書いてね */
.container{
  display: table;
  width: auto;
  margin-top:40px;
}

.container:first-child{
  margin-top: 0;
}

.big_box{
  padding: 20px;
  width: auto;
}

.cell_ora{
  background-color: #fdc8b8;
  min-width: 100px;
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.cell_pin{
  background-color: #e0abd9;
  width:100%;
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}
.cell_ble{
  background-color: #b6d8ed;
  min-width: 100px;
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.cell_yel{
  background-color: #e5d32e;
  width: 50%;
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.cell_red{
  background-color: #ec8f9a;
  width: 50%;
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}

.cell_gre{
  background-color: #8fdcad;
  min-width: 500px;
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}
/* 回答はここに書いてね */
