@charset "UTF-8";

/* 回答はここに書いてね */

.big_box{
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  position: relative;
}

.sbox{
  width: 100px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  line-height: 100px;
}

.one{
  background-color: #ffefd3;
  left: 200px;
  top: 40px;
  z-index: 1;
}

.two{
  background-color: #7084de;
  left: 280px;
  top: 120px;
  z-index: 2;
}

.thr{
  background-color: #d0ecea;
  left: 360px;
  top: 200px;
  z-index: 3;
}

.fou{
  background-color: #8b7a5e;
  left: 280px;
  top: 280px;
  z-index: 4;
}

.fiv{
  background-color: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 5;
}

.six{
  background-color: #fffee4;
  left: 120px;
  top: 280px;
  z-index: 6;
}

.sev{
  background-color: #deae70;
  left: 40px;
  top: 200px;
  z-index: 7;
}

.eig{
  background-color: #de70cf;
  left: 120px;
  top: 120px;
  z-index: 8;
}

.eig:after{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  left: 80px;
  top: 0;
}

.nin{
  background-color: #2b69a3;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 10;
}
/* 回答はここに書いてね */
