@charset "UTF-8";

/* 回答はここに書いてね */
.dish{
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.dish th,.dish td{
  border: solid #dedede 1px;
  padding: 10px 0;
}

.dish th{
  color: #ffffff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.dish td{
  font-size: 16px;
  line-height: 22px;
}

.dish tr:nth-child(odd){
  background-color: #ecf1f2;
}

/*
table td:first-child{
  background-color: #2244aa;
  color: #ffffff;
}
 */
.dish tr:last-child{
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
